body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.container {
  width: 312px;
  margin: 30px auto;
}

h1 {
  margin-bottom: 20px;
}

.square {
  width: 100px;
  height: 100px;
  float: left;
  border: 2px solid #ccc;
  box-sizing: border-box;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

.square:hover {
  background-color: #f2f2f2;
}
