table {
  border-collapse: collapse;
  margin: 20px;
}

th,
td {
  padding: 6px 10px;
  border: 1px solid #000;
}

tbody tr:nth-child(odd) td {
  background: violet;
}

tbody tr:first-child td {
  background: blue;
  color: white;
}

tbody tr:last-child td {
  background: green;
  color: white;
}
