body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

ul.menu {
  list-style-type: none;
  padding: 0;
  margin: 50px auto;
  display: inline-block;
}

ul.menu li {
  float: left;
  margin-right: 5px;
}

ul.menu li a {
  display: block;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  line-height: 20px;
  border: 1px solid #000;
}

ul.menu li a:hover {
  background-color: grey;
}
